@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sniglet:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(90deg, #4743d0, #880868);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    font-size: 3rem;
    color: #fff;
}

form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
}

input,
button{
    padding: 15px 20px;
    background-color: #fff;
    border: none;
    font-size: 1.2rem;
}

input{
    font-weight: bold;
}
input:focus{
    outline: none;
}

button{
    cursor: pointer;
}
.poke-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.poke-box{
    width: 250px;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}

.poke-box img{
    width: 90%;
    margin: 10px 0;
    object-fit: cover;
}

.poke-box h4{
    font-size: 1.4rem;
    margin: 5px auto;
}

.poke-box p{
    margin: 5px auto;
}